<div id="content" ng-controller="AccountsCtrl as vm">
	<div class="left-section">
		<div class="header">
			<strong>Accounts</strong>

			<div class="actions">
				<button ng-click="vm.addAccount()">Add Account</button>
				<button>Refresh</button>
			</div>
		</div>

		<table>
			<tr>
				<th>Name</th>
				<th>Market Value</th>
				<th>Cash</th>
				<th>Legend</th>
			</tr>

			<tr ng-repeat="row in vm.rows">
				<td>{{ row.name }}</td>
				<td>{{ row.marketValue | currency }}</td>
				<td>{{ row.cash | currency }}</td>
				<td>
					<div class="legend" style="background-color: {{ row.legend }}"></div>
				</td>
			</tr>

			<tr class="totals">
				<td></td>
				<td>
					<strong>{{ vm.totals.marketValue | currency }}</strong>
				</td>
				<td>
					<strong>{{ vm.totals.cash | currency }}</strong>
				</td>
				<td></td>
			</tr>
		</table>

	</div>

	<div class="right-section">
		<img class="chart" src="images/chart.png" alt="Chart">

		<div class="help-label">Click on an account to view positions</div>
	</div>

</div>